build/
dist/
scripts/output/
.vs/
.vscode/
.idea/
cmake-build-*/
CMakeUserPresets.json
CMakeCache.txt
compile_commands.json

*.log
*.tmp
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.vcxproj.user

server.properties
worlds/
logs/
rcon.log
banned-ips.json
banned-players.json
ops.json
whitelist.json
build.bat
PACKETS.md
