build/
dist/
.vs/
.vscode/
.idea/
cmake-build-*/
CMakeUserPresets.json
CMakeCache.txt
compile_commands.json

*.log
*.tmp
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.vcxproj.user

server.properties
worlds/
rcon.log
build.bat
PACKETS.md
